.background_color
{
  background-color: purple;
}

.card_wrap
{
  border-radius: 5px;
  background: white;
  margin: 0 auto;
  width: 1500px;
}

.App {
  text-align: center;
  height: 100%;
  padding-top: 50px;
  background-color: rgb(153, 55, 153);
}