.socials_wrap
{
    display: flex;
    background: rgb(37, 37, 37);
    color: #b4b4b4;
    width: 100%;
    height: 130px;
    position: relative;
    bottom: -5em;
}

.contacts_wrap
{
    margin: 1em;
}

.react_wrap
{
    margin-right: auto;
    padding-left: 1em;
    margin-top: auto;
    margin-bottom: auto;
}